@model IEnumerable<WebApplication2.Models.Product>
<h1>INDEX</h1>
<p>
    <a asp-area="Admin" asp-controller="A_Product" asp-action="Add">Create New</a>
</p>

<form id="searchForm">
    <input type="text" id="searchInput" placeholder="Nhập tên sản phẩm...">
</form>

<table class="table mt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="@item.ImageUrl" alt="Product Image" style="max-width: 200px; max-height: 200px" />
                    }
                </td>
                <td>
                    <a asp-action="Display" asp-route-id="@item.Id">View</a>
                    <a asp-action="Update" asp-route-id="@item.Id">Update</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>

<script>
    var searchInput = document.getElementById("searchInput");
    searchInput.addEventListener("input", function () {
        var searchText = this.value.trim().toLowerCase();
        var rows = document.querySelectorAll("tbody tr");

        rows.forEach(function (row) {
            var productName = row.querySelector("td:first-child").textContent.trim().toLowerCase();
            if (productName.includes(searchText)) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    });
</script>
